
<!DOCTYPE html>
<html>
{% block head %}
  <style>
  table, th, td {
    border:3px solid black;
    border-collapse: collapse;
  }
  

  th:nth-child(even),td:nth-child(even) {
    background-color: #D6EEEE;
    }
  </style>
    <head>

         {% block stylesheets %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Deep-Fake Detection</title>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="static/assets/img/apple-touch-icon.png">

        <link href="{{url_for('static',filename='Login_v12/vendor/designing/css/designing.min.css')}}" rel="stylesheet" type="text/css">

        <link rel="stylesheet" href="{{ url_for('.static',filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('.static',filename='css/bootstrap-theme.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('.static',filename='css/fontAwesome.css')}}">
        <link rel="stylesheet" href="{{ url_for('.static',filename='css/light-box.css')}}">
        <link rel="stylesheet" href="{{ url_for('.static',filename='css/templatemo-style.css')}}">

        <link href="https://fonts.googleapis.com/css?family=Kanit:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="{{ url_for('.static',filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js')}}"></script>
        {% endblock stylesheets %}
    </head>
    {% endblock %}
    {% block body %}

<body>
  <div class="main" style="background-image: url('images/d_63.jpg');">
</div>

    <nav>
        <div class="logo">
            <a href="127.0.0.1.5000/uploadfile">Back <em>Page </em></a>
        </div>
      <div class="menu-icon">
        <span></span>
      </div>
    </nav>


    <div class="masonry-portfolio" id="masonry">
        <div class="container-fluid">
            <div class="masonry">

                  <div class="thumb">
                      <div class="hover-effect">
                          <div class="hover-content">

                          </div>
                      </div>
                      <div class="col-md-offset-1">

                        <div class="latest-gallery">
                            <div class="sidebar-heding">
                                <h2>FDS</h2>
                            </div>
                            <ul>


          <!-- <img src="{{ url_for('return_files_tut_face',filename=filename.fake_img_path) }}"" alt=""> -->
          <div class="container">
            <div class="container mt-5 mb-5">
              <div class="row no-gutters">
                  <div class="col-md-4 col-lg-4"><img src="{{ url_for('return_files_tut_face',filename=filename.fake_img_path) }}" class="img-responsive" alt=""></div>
                  <div class="col-md-8 col-lg-8">
                      <div class="d-flex flex-column">
                          <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                              <!--<h3 class="display-5">Fake Imag</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i>
                              -->
                              </div>
                          <div class="p-3 bg-black text-white">
                              <h6>Verdict Fake or real</h6>
                          </div>
                          <div class="d-flex flex-row text-white">
                              <div class="p-4 bg-primary text-center skill-block">
                                  <h4>Face Category</h4>
                                  <h3>{{filename.label}}</h3>
                              </div>
                              <div class="p-3 bg-success text-center skill-block">
                                  <h4>Predicted Fake Score</h4>
                                  <h3>{{filename.score}}</h3>
                              </div>                                                
                          </div>
                      </div>
                  </div>
              </div>
          </div>


           <!--
            <h1 class="logo cursive">
              <div class="col-md-4 col-md-offset-4 col-md-4 col-md-offset-4 col-sm6-6">
                <div class="col-md-4 col-lg-4"><img src="{{ url_for('return_files_tut_face',filename=filename.fake_img_path) }}" alt=""></div><br><br>
                <div class="d-flex flex-row text-white">
                  <div class="p-4 bg-primary text-center skill-block">
                      <h4>Face Category</h4>
                      <h3>{{filename.label}}</h3>
                  </div>
                  <div class="p-3 bg-success text-center skill-block">
                      <h4>Predicted Fake Score</h4>
                      <h3>{{filename.score}}</h3>
                  </div>   
                </div>
                
              <table style="width:100%">
                
                <tr>
                  <td>Face Category</td>
                  <td>{{filename.label}}</td>
                  
                </tr>
                <tr>
                  <td>Predicted Fake Score</td>
                  <td>{{filename.score}}</td>
                  
                </tr> 
                </table>  -->
                <table style = "width:100%">
                <h3>Metadata Information</h3>
                <tr>
                  <td>Model</td>
                  <td>{{filename.x}}</td>
                  
                </tr>
                <tr>
                  <td>Make</td>
                  <td>{{filename.b1}}</td>
                  
                </tr>
                <tr>
                  <td>ColorSpace</td>
                  <td>{{filename.c1}}</td>
                  
                </tr>
                <tr>
                  <td>Software</td>
                  <td>{{filename.d1}}</td>
                  
                </tr>
                <tr>
                  <td>GPSInfo</td>
                  <td>{{filename.e1}}</td>
                  
                </tr>
                <tr>
                  <td>Orientation</td>
                  <td>{{filename.f1}}</td>
                  
                </tr>
                <tr>
                  <td>DateTime</td>
                  <td>{{filename.g1}}</td>
                  
                </tr>
                <tr>
                  <td>YResolution</td>
                  <td>{{filename.h1}}</td>
                  
                </tr>
                <tr>
                  <td>XResolution</td>
                  <td>{{filename.i1}}</td>
                  
                </tr>
                <tr>
                  <td>ExifOffset</td>
                  <td>{{filename.j1}}</td>
                  
                </tr>
                <tr>
                  <td>ResolutionUnit</td>
                  <td>{{filename.k1}}</td>
                  
                </tr>
                
                
                
              </table>

     <!--         &nbsp;&nbsp;Face: {{filename.label}}<br>&nbsp;&nbsp;Predicted Fake Score: {{filename.score}}
         -->   </h1>
          </div>
                                      
        </ul>
                        </div>
                        <div class="latest-gallery">
                            <div class="sidebar-heding">
                                <h2>Latest Gallery</h2>
                            </div>
                            <ul>
                              <div class="text">
                                  <h1>Fake Face Detection</h1>
                              </div>
                      </div>
                      <div class="video">

                      </div>

                  </div></a>
                </div>


                <div class="container">


                <h1 class="logo cursive">
                  <div class="col-md-4 col-md-offset-4 col-md-4 col-md-offset-4 col-sm6-6">


                </h1>
              </div>
            </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('.static',filename='static/js/vendor/jquery-1.11.2.min.js')}}"></script>

    <script src="{{ url_for('.static',filename='static/js/vendor/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('.static',filename='static/js/plugins.js')}}"></script>
    <script src="{{ url_for('.static',filename='static/js/main.js')}}"></script>

</body>
</html>

{% endblock %}
